@import url(grid.css);

.navegacao {

  display: flex;
}

header {
  margin-top: 10px;
  background-color: rgb(247, 239, 229);
}

.nav-1 {
  margin-left: 30px;
}

.nav-2 {
  padding-left: 200px;
  display: flex;

}

.nav-3 {
  padding-left: 200px;
  display: flex;
}


.busca {
  width: 236px;
  height: 40px;
  left: 695px;
  top: 8px;

}

.botao-icones {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(206, 206, 206);
}

.foto-icones {
  width: 40px;
  height: 40px;
}

.filha-1 {
  border: 1px solid rgb(102, 98, 98);
  height: 100%;
  background-color: white;
  border-radius: 4px;
  align-items: center;
}

.frame {
  width: 100%;
}

.etta {
  margin-left: 130px;
  line-height: 0px;
}

.cantora {
  margin-left: 80px;
}

li {
  list-style: none;
  width: 200px;
  height: 30px;
  align-items: center;
  margin-top: 10px;
}

.seguidores {
  border: 1px solid black;
  border-radius: 4px;
  width: 90px;
  margin-left: 50px;
  padding-left: 10px;
}

.posts {
  border: 1px solid black;
  border-radius: 4px;
  width: 90px;
  margin-left: 200px;
  margin-top: -95px;
  margin-bottom: 30px;
  padding-left: 10px;

}

.lista {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filha-2 {
  border: 1px solid black;
  height: 300px;
}

.filha-3 {
  background-color: white;
  border: 1px solid black;
  height: 500px;
  border-radius: 4px;
}

.nima {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao {
  height: 50px;
  width: 100%;
}

.alta {
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 4px;
  width: 310px;
  height: 300px;
}