@import url(grid.css);

.navegacao {

  display: flex;
}

header {

  margin-top: 10px;
  background-color: rgb(247, 239, 229);
}

.nav-1 {
  margin-left: 30px;
}

.nav-2 {
  padding-left: 200px;
  display: flex;

}

.nav-3 {
  padding-left: 200px;
  display: flex;
}


.busca {
  width: 236px;
  height: 40px;
  left: 695px;
  top: 8px;

}

.botao-icones {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(206, 206, 206);
}

.foto-icones {
  width: 40px;
  height: 40px;
}

.filha-1 {
  border: 1px solid rgb(102, 98, 98);
  height: 100%;
  background-color: white;
  border-radius: 4px;
  align-items: center;
}

.frame {
  width: 100%;
}

.etta {
  margin-left: 130px;
  line-height: 0px;
}

.cantora {
  margin-left: 80px;
}

li {
  list-style: none;
  width: 200px;
  height: 30px;
  align-items: center;
  margin-top: 10px;
}

.seguidores {
  border: 1px solid black;
  border-radius: 4px;
  width: 90px;
  margin-left: 50px;
  padding-left: 10px;
}

.posts {
  border: 1px solid black;
  border-radius: 4px;
  width: 90px;
  margin-left: 200px;
  margin-top: -95px;
  margin-bottom: 30px;
  padding-left: 10px;

}

.lista {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filha-2 {
  border: 1px solid black;
  height: 1000px;

}

.story {
  margin-bottom: 20px;
  border: 1px solid red;
  height: 100px;
}

.new-post {
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 4px;
  height: 180px;
}

.foto-post {
  margin-left: 10px;
  margin-top: 10px;
}

.placeh-post {
  height: 100px;
  width: 430px;
  margin-left: 10px;
}

.post-1 {
  display: flex;
  margin-left: 70px
}

.btt {
  background-color: rgb(161, 158, 158);
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  width: 70px;
  height: 30px;
  border-style: none;
  border-radius: 4px;
}

.btt-post {
  background-color: rgb(71, 71, 71);
  color: white;
  margin-top: 10px;
  margin-left: 60px;
  width: 100px;
  height: 50px;
  border-style: none;
  border-radius: 4px;
}

.postagem1 {
  margin-bottom: 20px;
}

.primeiro-post {
  padding: 1px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.post_content {
  display: flex;
}

.primeiro-post p,
.primeiro-post h3 {
  margin: 0;
}

.primeiro-post img {
  margin: auto 12px;
}

.btt-2 {
  background-color: rgb(71, 71, 71);
  color: white;
  border-style: none;
  border-radius: 4px;
  width: 100px;
  height: 30px;
}


.postagem2 {
  margin-bottom: 20px;
  border: 1px solid red;
  height: 100px;
}

.filha-3 {
  background-color: white;
  border: 1px solid black;
  height: 390px;
  border-radius: 4px;
}

.nima {
  padding: 1px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nima_content {
  display: flex;
}

.nima p,
.nima h3 {
  margin: 0;
}

.nima img {
  margin: auto 12px;
}

.botao {
  height: 50px;
  width: 100%;
}

.alta {
  padding: 10px;
  background-color: white;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 4px;
  width: 300px;
  height: 320px;
  line-height: 15px;

}